@font-face {
    font-family: 'bebasneueregular';
	src: url('../font/bebasneue-webfont.eot');
	src: url('../font/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/bebasneue-webfont.woff') format('woff'),
		 url('../font/bebasneue-webfont.ttf') format('truetype'),
		 url('../font/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: "ITC Avant Garde Gothic";
	src: url('../font/960906983-avgr45w.eot');
	src: url('../font/960906983-avgr45w.eot?#iefix') format('embedded-opentype'),
		 url('../font/960906983-avgr45w.woff') format('woff'),
		 url('../font/960906983-avgr45w.ttf') format('truetype')
		 url('../font/960906983-avgr45w.svg#ITC Avant Garde Gothic') format('svg'),;
	font-weight: normal;
	font-style: normal;
}

body{
background: #e0e0e0; /* Old browsers */
background: -moz-linear-gradient(top,  #e0e0e0 0%, #ffffff 12%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(12%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e0e0e0 0%,#ffffff 12%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e0e0e0 0%,#ffffff 12%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e0e0e0 0%,#ffffff 12%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e0e0e0 0%,#ffffff 12%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.main-title-header, .secondary-title-header{font-family:"ITC Avant Garde Gothic";}

.tlvn-wrapper{background:#fff; box-shadow: 0px 0px 41px #333;border:0px; margin-top:-5px}
body, p{margin:0px; padding:0px; font-family:'bebasneueregular'}
div, footer{background:#eee;border:2px solid #aaa;text-align: center;color:#888;}
div:hover, footer:hover{background:#aaa;text-align: center;color:#eee;cursor:pointer;}
.tlvn-content, .news-wrapper, .promotions-wrapper, .container-left, .container-right, .mobile-wrapper, .skyscrappers, .centered, .skyscrapper-content{background:transparent;border:0px}
.tlvn-wrapper:hover{background:#fff}
.tlvn-content:hover, .news-wrapper:hover, .promotions-wrapper:hover, .container-left:hover, .container-right:hover, .mobile-wrapper:hover, .skyscrappers:hover, .centered:hover{background:transparent;border:0px}
.find-wrapper, .video-wrapper, .news-wrapper, .full-banner, .promotions-wrapper, .mobile-wrapper, .youre-watching{margin-top:5px}
.promotion, .user-autentication, .vertical-rectangle-banner, .poll-wrapper, .twitter-feed-wrapper, .facebook-feed-wrapper, .mobile-wrapper{margin-bottom:5px}
.find-header, .video-header, .find-content, .video-content, .news-header, .promotion-header, .news-content, .promotion-content{border:0px;}
.find-header, .video-header, .news-header, .promotion-header{border-bottom:2px solid #aaa}
.menu, .breaking-news{position:relative;}
.tlvn-content{margin: 5px 32px;}
.menu > .pc {position: relative;top: -30px;}

/** POSICIONAMIENTOS **/
.news-wrapper > .one, .container-left, .header, section, .menu-mobile, .header, .poll-mobile{float:left}
.news-wrapper > .two, .container-left, .networks, aside, .networks, .middle-banner-mobile{float:right}

@media screen and (min-width: 768px) {
.menu-mobile, .banner-mobile, .mobile-wrapper, .mobile{display:none;}

/** Modificaciones e integración a diseño **/
.news-wrapper{height:170px;}
.news-content{height:150px}
.news-header{height:20px}



/** SKYSCRAPPERS **/
.tlvn-wrapper{position:relative;}
.centered{height:100%;width:100%;position:fixed;}
.skyscrappers{height:100%;width:1344px;margin:auto;}
.skyscrapper-content{width:1024px; height:100%;}
.skyscrapper-banner-left, .skyscrapper-banner-right{height:100%;width:156px;}
.skyscrapper-banner-left, .skyscrapper-banner-right, .skyscrapper-content{float:left}

/** ALTOS **/
.hero-shot, .footer-links{height:296px;}
.find-header, .video-header, .promotion-header{height:16px;}
.breaking-news{height: 26px;top:50px;}
.menu{height: 31px;top: 45px;}
.header, .networks{height: 36px;}
.youre-watching{height:56px}
.full-banner{height:86px;}
.user-autentication{height:126px;}
.video-content{height:109px}
.find-content{height:48px}
.promotion-content{height:116px}
.news-wrapper > .news{height:162px}
.promotion{height:136px}
.video-wrapper{height:131px}
.find-wrapper{height:66px}
header{height:120px;}
.poll-wrapper{height:281px;}
.twitter-feed-wrapper, .facebook-feed-wrapper{height:216px;}
.vertical-rectangle-banner{height:396px}
footer{height:6px;margin-top: 1685px;}

/** ANCHOS **/
.user-autentication, .vertical-rectangle-banner, .poll-wrapper, .twitter-feed-wrapper, .facebook-feed-wrapper{width:236px}
.networks, aside{width:240px;}
.news-wrapper > .news, .promotion, .news-header, .promotion-header, .news-content, .promotion-content{width:336px;}
.header, .hero-shot, .footer-links, .find-wrapper, .video-wrapper, .news-wrapper, .find-header, .video-header, .find-content, .video-content, .full-banner{width:696px}
section{width:700px;}
.menu, .breaking-news, footer{width:956px}
.tlvn-content, header{width:960px;}
.tlvn-wrapper{width: 1024px;margin: -5px auto;padding: 5px 0px;}
}

@media screen and (max-width: 768px) {
.breaking-news, aside, .menu, .video-wrapper, .promotions-wrapper .two, .promotions-wrapper .three, .pc, .youre-watching, .centered{display:none;}
.tlvn-content{margin: 5px 2px;}
.header{margin-left:5px;}

/** ALTOS **/
.menu-mobile{width:36px; height:36px;}
.hero-shot{height:296px;}
.footer-links{height:196px}
.find-header, .video-header, .news-header, .promotion-header{height:16px;}
.breaking-news{height: 26px;top:50px;}
.menu{height: 31px;top: 45px;}
.header, .networks{height: 36px;}
.full-banner{height:56px;}
.user-autentication{height:96px;}
.find-content, .video-content, .promotion-content, .news-content{height:94px}
.news-wrapper > .news, .promotion{height:112px}
.find-wrapper, .video-wrapper, .news-wrapper{height:116px;}
header{height:45px;}
.poll-wrapper, .mobile-wrapper{height:164px;}
.twitter-feed-wrapper, .facebook-feed-wrapper{height:184px;}
.vertical-rectangle-banner{height:396px}
footer{height:6px;margin-top: 1239px;}
.poll-mobile, .middle-banner-mobile{height:160px}


/** ANCHOS **/
.user-autentication, .vertical-rectangle-banner, .*-wrapper{width:236px}
.networks{width:96px;}
.news-wrapper > .news, .promotion, .news-header, .promotion-header, .news-content, .promotion-content, .poll-mobile, .middle-banner-mobile{width:232px;}
.hero-shot, .footer-links, .find-wrapper, .video-wrapper, .promotions-wrapper, .news-wrapper, .find-header, .video-header, .find-content, .video-content, .full-banner, .mobile-wrapper{width:474px}
.header{width:310px}
section{width:460px;}
.menu, .breaking-news, footer{width:476px}
.tlvn-content, header{width:460px;}
.tlvn-wrapper{width: 480px;margin: -5px auto;padding: 5px 0px;}
}

.news-wrapper, .news, .news-header, .news-content, .news-wrapper:hover, .news:hover, .news-header:hover, .news-content:hover{background:transparent; border:0px;}