/** COLORES */
@red: 			#eb0000;
@light-blue:	#0376d7;
@dark-blue:		#00326a;
@background-grey: #e0e0e0;
@light-grey: 	#909090;
@medium-grey:	#707070;
@dark-grey: 	#545454;
@darker-grey:	#aaa;
@white:			#fff;
@black:			#000;
@light-black:	#202020;
@arial:			"arial";
@avant-garde:	"avg";
@candara:		"candara";
@fmg:			"fgm";
@verdana:		"verdana";

.radius(@radius:5px){
	-webkit-border-radius: @radius;
	   -moz-border-radius: @radius;
	        border-radius: @radius;
}

.avant-garde{
	font-family: @avant-garde;
	font-weight:normal;
}

.opacity(@amount) {
	@percentage: @amount * 100;
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@percentage)";
	        filter: alpha(opacity=@percentage);
	  -moz-opacity: @amount;
	-khtml-opacity: @amount;
	       opacity: @amount;
}

.transition(@css:all, @time, @easing: ease-out){
	-webkit-transition: @css @time @easing;
	   -moz-transition: @css @time @easing;
	    -ms-transition: @css @time @easing;
	     -o-transition: @css @time @easing;
		    transition: @css @time @easing;
}

.transition-delay(@delay){
-webkit-transition-delay: @delay;
   -moz-transition-delay: @delay;
     -o-transition-delay: @delay;
    -ms-transition-delay: @delay;
        transition-delay: @delay;
}

.shadow(@horizontal, @vertical, @blur, @spread, @color) {
  -webkit-box-shadow: @horizontal @vertical @blur @spread @color;
	 -moz-box-shadow: @horizontal @vertical @blur @spread @color;
		  box-shadow: @horizontal @vertical @blur @spread @color;
}

.arrow-left(@top, @bottom, @left, @color){
	width: 0;
	height: 0;
	border-top: @top solid transparent;
	border-bottom: @bottom solid transparent;
	border-left: @left solid @color;
	position: absolute;
}

.arrow-right(@top, @bottom, @right, @color){
	width: 0;
	height: 0;
	border-top: @top solid transparent;
	border-bottom: @bottom solid transparent;
	border-right: @right solid @color;
	position: absolute;
}

/** INICIO DE ESTILOS PROPIOS */
@font-face {
    font-family: 'avg';
    src: url('../font/avgr65w-webfont.eot');
    src: url('../font/avgr65w-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/avgr65w-webfont.woff') format('woff'),
         url('../font/avgr65w-webfont.ttf') format('truetype'),
         url('../font/avgr65w-webfont.svg#avg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fgm';
    src: url('../font/framdcn-webfont.eot');
    src: url('../font/framdcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/framdcn-webfont.woff') format('woff'),
         url('../font/framdcn-webfont.ttf') format('truetype'),
         url('../font/framdcn-webfont.svg#fgm') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'candara';
    src: url('../font/candara-webfont.eot');
    src: url('../font/candara-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/candara-webfont.woff') format('woff'),
         url('../font/candara-webfont.ttf') format('truetype'),
         url('../font/candara-webfont.svg#candara') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	background: @background-grey; /* Old browsers */
	background: -moz-linear-gradient(top,  @background-grey 0%, @white 12%, @white 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@background-grey), color-stop(12%,@white), color-stop(100%,@white)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  @background-grey 0%,@white 12%,@white 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  @background-grey 0%,@white 12%,@white 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  @background-grey 0%,@white 12%,@white 100%); /* IE10+ */
	background: linear-gradient(to bottom,  @background-grey 0%,@white 12%,@white 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@background-grey', endColorstr='@white',GradientType=0 ); /* IE6-9 */
}

.breaking-news, .breaking-news:hover{
	background: url('../assets/breaking_news/bkn-bg.jpg'); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViNWI1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNzE3MTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #5b5b5b 0%, #171717 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b5b5b), color-stop(100%,#171717)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5b5b5b 0%,#171717 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5b5b5b 0%,#171717 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5b5b5b 0%,#171717 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5b5b5b 0%,#171717 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#171717',GradientType=0 ); /* IE6-8 */
}

.gradient-left{
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.gradient-right{
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
}

.video-content, .hero-wrapper-bg, .news-wrapper .news-bar, .youre-watching .title, .promotion-info .info-bg{
	background: @black;
}

.video-content .roll ul li, .know-more-bg, .counter ul li:hover, .navigators-bg, .promotion-info .info-title-container .title-background, .tlvn-wrapper{
	background: @white;
}

footer, .grey, .footer-links h4, .video-info{
	color: @light-grey;
}

.main-title-header, .secondary-title-header{
	color: @medium-grey;
}

header, header p, .hero-shot, .hero-shot p, .news-wrapper{
	color: @dark-grey;
}

.youre-watching .programs, .youre-watching .hours .bar{
	background: @darker-grey;
}

.red{
	color: @red;
}
	
.breaking-news > .overflow > .news ul li, .hero-wrapper h5, .hero-wrapper p, .know-more .plus p, .indicator p, .overflowed-images p, .youre-watching .programs p, 
.youre-watching .title p, .youre-watching .hours, .promotion-info .info-title-container .title, .promotion-info .info-data, 
.video-content .videos .content .thumb-info{
	color: @white;
}

.know-more .plus p, .indicator p, .youre-watching .hours, .poll-wrapper, .hero-wrapper p, .video-description{
	font-family: @arial;
}

.promotion-info .info-data p, .footer-links p, .video-info{
	font-family: @verdana;
}

.breaking-news > .overflow > .news ul li{
	font-family: @candara;
}

body{
	.avant-garde
}

footer, .video-info{
	font-size: 8px;
}

.promotion-info .info-data p, .poll-wrapper .poll-options, .footer-links p, .breaking-news > .overflow > .news ul li{
	font-size: 11px;
}

.breaking-news > .overflow > .news ul li, .video-description{
	font-size: 12px;
}

.networks p, .overflowed-images p, .hero-wrapper p, .poll-wrapper .poll-question p{
	font-size: 14px;
}

.menu, .promotion-info .info-data, .main-title-header, .secondary-title-header{
	font-size: 15px;
}

.footer-links h4{
	font-size: 16px;
}

.menu-plus, .video-title{
	font-size: 17px;
}

.indicator p, .hero-wrapper h5{
	font-size: 22px;
}

.know-more .plus p{
	font-size: 32px;
}

.grey{
	font-weight: normal;
}

.know-more .plus p, .indicator p, .promotion-info .info-data p, .poll-wrapper{
	font-weight: bold;
}

.youre-watching .title p, .promotion-info .info-title-container .title, .poll-wrapper .poll-image, .poll-wrapper .poll-question p, footer{
	text-align:center;
}

.hero-wrapper p{
	text-align: justify;
}

.networks p{
	line-height: 12px;
}

.networks-1{
	letter-spacing: 0.6;
}

.networks-2, .breaking-news > .overflow > .news ul li, .youre-watching .hours, .promotion-info .info-data p{
	letter-spacing: 1px;
}

.centered, .menu-plus{
	display:none;
}

.video-content .videos .content, .breaking-news > .overflow, .hero-shot, .hero-indicator-wrapper, .news-wrapper, .news-content, .overflowed-images, .promotion, .footer-links li p:first-child{
	overflow: hidden;
}

.video-content .roll ul, .gradient-left, .gradient-right, .breaking-news .circle, .breaking-news > .overflow > .news, .breaking-news > .overflow, .breaking-news > .icon,
 .T10_0, .menu-plus, .menu-left ul li, .hero-shine, .hero-wrapper, .hero-wrapper-bg, .hero-images, .hero-indicator-wrapper,
 .know-more, .know-more .plus, .counter, .navigators, .indicator p, .navigators .left, .navigators .right, .menu, .breaking-news, .menu > .pc, .overflowed-images, 
 .news-wrapper .news-bar, .overflowed-images p, .youre-watching .hours, .youre-watching .hours ul, .youre-watching .title, .promotion .mask, .promotion .movie,
 .promotion-info, .promotion-info .info-bg, .promotion-info .info-title-container, .promotion-info .info-title-container .title-background, 
 .promotion-info .info-title-container .title, .promotion-info .info-data, .video-content .navigation-wrapper-right, .video-content .navigation-wrapper-left, 
 .video-content .videos .content{
	position: relative;
}

.video-info{
	position:absolute;
	top: 78px;
	left: 370px
}

.hero-indicator-wrapper, .thumb-info{
	.opacity(0);
	.transition(opacity, 0.3s, ease-out);
}
/*
.thumb-info{
	.transition-delay(0.1s);
}*/

.hero-indicator-wrapper{
	z-index:5;
}

.know-more-bg, .counter ul li, .navigators-bg{
	.opacity(0.35);
}

.know-more .plus p, .indicator p, .promotion-info .info-title-container .title-background{
	.opacity(0.4);
}

.counter ul li:hover, .hero-wrapper-bg, .promotion-info .info-bg{
	.opacity(0.6);
}

.hero-active{
	.opacity(0.7);
}

.know-more .plus p:hover, .indicator p:hover, .indicator p:hover, .news-wrapper .news-bar{
	.opacity(0.8);
}

.hero-indicator-wrapper:hover, .video-content .videos .content ul li:hover .thumb-info{
	.opacity(1);
}

.know-more, .counter ul li, .navigators .left, .navigators .right, .menu-left ul li:hover, .news-content, .promotions-wrapper, .promotions-wrapper div, .footer-links p,
 .full-banner, .vertical-rectangle-banner, .video-content .navigation-wrapper-left, .video-content .navigation-wrapper-right, 
 .video-content .videos .content ul li{
	cursor:pointer;
}

ul, li, body, p{
	margin:0;
}

.video-content .up ul{
	top:2px;
}

.video-content .down ul{
	top:11px;
}

.networks ul, section, aside, .tlvn-content, .find-wrapper, .video-wrapper, .news-wrapper, .full-banner, .promotions-wrapper, .mobile-wrapper, .youre-watching, .vertical-rectangle-banner{
	margin-top:5px
}

.poll-wrapper .poll-options input, .networks > .title{
	margin-top: 7px;
}

.tlvn-content, .promotion, .user-autentication, .vertical-rectangle-banner, .poll-wrapper, .twitter-feed-wrapper, .facebook-feed-wrapper, .mobile-wrapper{
	margin-bottom:5px
}

.video-content .roll ul li, .networks ul li, .breaking-news > .overflow > .news ul li, .breaking-news .circle, .counter ul li{
	margin-right:5px
}

ul, li, body, p, .hero-wrapper h5{
	padding: 0px;
}

.youre-watching .programs .arrow{
	.arrow-left(20px, 22px, 40px, @dark-blue);
	left: 162px;
	top: 917px;
}

.video-content .navigation-wrapper-left .arrow{
	.arrow-right(20px, 20px, 15px, @white);
	top: 35px;
	left: 5px;
}

.video-content .navigation-wrapper-right .arrow{
	.arrow-left(20px, 20px, 15px, @white);
	top: 35px;
	left: 5px;
}

.youre-watching .title .arrow{
	.arrow-left(15px, 15px, 10px, @darker-grey);
	left: 210px;
	top: 6px;
}

.youre-watching .hours .arrow{
	.arrow-left(8px, 8px, 10px, @darker-grey);
	left: 104px;
	top: 0px;
}

.video-content .roll ul li, .breaking-news, .breaking-news:hover, .breaking-news > .bars > img, .breaking-news .circle, .counter ul li{
	.radius;
}

.video-content img{
	.radius(10px);
}

.know-more-bg, .navigators-bg{
	.radius(20px);
}

.know-more .plus p, .indicator p{
	.transition(opacity, 0.3s, ease-out);
}

.video-content ul li, .counter ul li, .hero-shot ul li, .networks ul li, .menu-left ul li, .news-wrapper ul li, .youre-watching ul li, .footer-links ul li{
	list-style-type: none;
}

.video-content .roll ul li, .networks > .title, .breaking-news .circle, .breaking-news > .overflow > .news ul li, .navigators .left, .hero-shot ul li, .networks ul li, .menu-left ul li, 
 .news-wrapper > .one, .container-left, .header, section, .menu-mobile, .header, .poll-mobile, .main-title-header, .news-wrapper ul li, .youre-watching ul li, 
 .youre-watching .programs, .footer-links .column, .footer-links li p, .video-content .navigation-wrapper-right, .video-content .navigation-wrapper-left, .video-content .videos,
 .video-content .videos .content ul li, .video-content .videos .content .thumb, .video-content .videos .content .thumb-info{
	float:left; 
}

.breaking-news > .bars, .navigators .right, .networks > .icons, .T10_0, .counter ul li, .news-wrapper > .two, .container-left, .networks, aside, .networks, 
.middle-banner-mobile, .secondary-title-header, .youre-watching .title{
	float:right;
}

/*.video-content .videos .content{
	overflow:hidden;
}*/

.video-content .videos .content .video-list > li{
	width:145px;
	height:80px;
	.transition(width, 0.5s, ease-out);
}

.breaking-news .circle, .counter ul li{
	width: 5px;
}

.video-content .roll ul li{
	width:12px;
}

.indicator, .navigators-bg, .know-more .plus{
	width: 20px;
}

.know-more-bg, .video-content .navigation-wrapper-right, .video-content .navigation-wrapper-left{
	width: 25px;
}

.footer-links li p:first-child, .gradient-left, .gradient-right, .know-more{
	width:30px;
}

.youre-watching .hours .bar{
	width: 104px;
}

.video-content .videos .content .thumb{
	width: 145px;
}

.hero-wrapper, .youre-watching .title{
	width: 230px;
}

.footer-links .column{
	width:239px;
}

.vertical-rectangle-banner, .poll-wrapper, .twitter-feed-wrapper, .hero-wrapper-bg{
	width:240px;
}

.networks{
	width: 245px
}

.news-wrapper .news-bar, .promotion-info .info-title-container .title, .promotion-info .info-title-container .title-background, 
.promotion-info .info-title-container, .promotion-info .info-bg, .promotion-info{
	width: 340px;
}

.youre-watching .programs{
	width:470px;
}

.video-content .videos .content .thumb-info{
	width: 505px;
}

.video-content .videos, .video-content .videos .content ul li:hover, .thumb-wrapper{
	width:650px;
}

.counter, .counter ul{
	width: 695px;
}

.video-header, .video-content, .full-banner, .header, .hero-shot, .hero-indicator-wrapper{
	width:700px; 
}

.menu-left ul{
	width: 760px;
}

.footer-links, .menu, .breaking-news, .breaking-news:hover{
	width:960px;
}

.breaking-news > .overflow > .news, .video-list-wrapper{
	width:10000px;
}

.breaking-news .circle, .counter ul li{
	height:5px;
}

.video-content .roll ul li{
	height: 7px;
}

.youre-watching .hours .bar, .youre-watching .hours{
	height: 15px;
}

.video-header, .news-header, .indicator, .navigators-bg, .know-more .plus, .counter ul{
	height: 20px;
}

.news-wrapper .news-bar, .know-more-bg{
	height: 25px;
	
}
.breaking-news, .breaking-news:hover, .gradient-left, .gradient-right, .know-more, .footer-links li p:first-child, .footer-links li{
	height:30px;
}

.header, .networks, .menu, .menu-left ul, .menu-left ul li{
	height:40px;
}

.youre-watching .programs, .youre-watching .title, .youre-watching .programs .active{
	height: 41px;
}

.video-content .videos .content{
	height:93px;
	top:11px;
}

.full-banner, .video-content .videos .content{
	height:90px;
}

.video-content, .video-content .videos, .video-content .navigation-wrapper-right, .video-content .navigation-wrapper-left{
	height:115px;
}

.news-content{
	height:150px;
}

.promotion-info .info-bg{
	height: 160px;
}

.news-wrapper{
	height:170px;
}

.twitter-feed-wrapper{
	height:270px;
}

.hero-shot, .hero-indicator-wrapper, .hero-images{
	height: 300px;
}

.poll-wrapper{
	height:353px;
}

.vertical-rectangle-banner{
	height:400px;
}

/* desde este punto */
.tlvn-content{
	margin-left: 32px;
	margin-right: 32px;
}

.menu > .pc, .menu-left ul li, .breaking-news > .icon{
	top: -30px;
}

.tlvn-wrapper{
	.shadow(0px, 0px, 41px, 0px, #333);
	margin-top:-5px;
}

.networks > .title{
	width: 79px;
	border-right: 1px solid @dark-grey;
}

/** MENU */

.menu-left ul li{
	width:119px;
}

.T10_0{
	top: -40px;
}

.gradient-left, .gradient-right{
	z-index:6;
}

.gradient-left, .breaking-news > .overflow{
	left: 30px;
}

.gradient-right{
	top: -75px;
	left: 765px;
}

.breaking-news > .icon{
	left: -713px;
}

.breaking-news > .overflow{
	width: 765px;
	top: -54px;
}

.breaking-news .circle{
	background: @red;
}

.breaking-news > .bars{
	margin-top: -75px;
}

.hero-images{
	width: 2200px;
	top: -600px;
	z-index: 1;
}

.menu-plus{
	line-height: 10px;
	top:-1px;
	left:-3px;
}

.hero-wrapper-bg{
	height: 255px;
	top: -290px;
	.radius(10px);
	left: 440px;
	padding: 5px;
}

.hero-wrapper{
	top: -565px;
	left: 440px;
	padding: 5px 10px;
}

.hero-wrapper h5{
	.avant-garde;
	width:210px;
	margin: 20px 0px 10px 0px
}

.hero-shine{
	top:-300px;
	z-index: 3;
	left:-700px;
}

.know-more{
	top: 23px;
	left: 660px;
}

.know-more .plus{
	top: -31px;
	left: 2px;
}

.counter{
	top: 250px;
}

.counter ul li{
	background:transparent;
	border:2px solid @white;
	.transition(background, 0.3s, ease-out);
}

.navigators{
	top: 220px;
	width: 45px;
	height:45px;
}

.left .indicator p, .navigators{
	left: 5px;
}

.right .indicator p{
	left: 7px;
}

.left .indicator p, .right .indicator p{
	top: -25px;
}

.navigators .left, .navigators .right, .breaking-news .circle{
	top: 5px;
}

.secondary-title-header{
	font-size:12px;
	padding-top:5px;
}

.overflowed-images{
	top:-25px;
}

.news-wrapper .news-bar{
	top: 125px;
	z-index: 4;
}

.overflowed-images p{
	font-family: @fmg;
	top: -22px;
	padding-left: 5px;
	z-index: 5;
}

.youre-watching .programs p{
	font-size: 20px;
	text-shadow: @dark-grey 2px 2px 5px;
	line-height: 41px;
	margin-left: 5px;
}

.youre-watching .programs .active{
	width: 130px;
	background: @dark-blue;
}

.youre-watching .programs .previous{
	margin-left: 40px;
}

.youre-watching .title{
	left:-1px;
}

.youre-watching .title p{
	line-height: 35px;
	font-size: 25px;
}

.youre-watching .hours{
	background: @light-black;
	font-size: 10px;
	top: 41px;
}

.youre-watching .hours ul{
	top: -38px;
}

.youre-watching .hours ul li{
	width:97px;
	border-right:1px solid @white;
	text-align:right;
	padding-right:2px;
}

/** PROMOTIONS */
.promotion .mask{
	z-index:3;
}

.promotion .movie{
	top:-160px;
}

.promotion-info{
	.transition(all, 250ms, linear);
	top: -151px;
	left: 340px;
	height: 156px;
}

.promotion .hover, .breaking-news .circle{
	left:0px;
}

.promotion-info .info-title-container{
	top: -160px;
	height: 73px;
}

.promotion-info .info-title-container .title-background{
	height: 40px;
	top: 33px;
}

.promotion-info .info-title-container .title{
	top: -7px;
	font-size: 18px;
	line-height: 40px;
}

.promotion-info .info-data{
	top: -160px;
	padding: 5px;
	width: 330px;
	height: 77px;
}

.poll-wrapper .poll-image{
	padding-top: 23px;
	padding-bottom: 25px;
}

.poll-wrapper .poll-options{
	padding-top: 10px;
}

/*FOOTER LINKS*/
.footer-links{
	margin-top: 10px;
	height:520px;
	border-top: 1px solid @darker-grey;
	border-bottom: 1px solid @darker-grey;
}

.footer-links p{
	margin-left: 3px;
	line-height: 25px;
	color: @light-blue;
}